<div class="container">
    
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><b>Plan Details</b></h3>
            <p class="card-text">
                <b>
                    Current Plan : <br>
                    Validity : <br>
                    Data Remaining : <br>
                </b>
              </p>
            <button class="btn btn-danger"><a routerLink="/plan">View Plans</a></button>&nbsp;
            <button class="btn btn-danger" style="font-size: 10px" ><a routerLink="/pay">Recharge</a></button>
        </div>
        </div>
     
    
  </div>