<div class="container">
    
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><b>Plan Details</b></h3>
            <p class="card-text">
                <b>
                    Plan Name :Combo<br>
                    Price : 399<br>
                    Service benefits : Amazon prime subscription <br>
                    Caller Tunes : GOT theme<br>
                </b>
              </p>
        </div>
        </div>

    
  </div>
  <div class="container">
    
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><b>Plan Details</b></h3>
            <p class="card-text">
                <b>
                    Plan Name :Combo<br>
                    Price : 399<br>
                    Service benefits : Amazon prime subscription <br>
                    Caller Tunes : GOT theme<br>
                </b>
              </p>
        </div>
        </div>

    
  </div>
  <div class="container">
    
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><b>Plan Details</b></h3>
            <p class="card-text">
                <b>
                    Plan Name :Combo<br>
                    Price : 399<br>
                    Service benefits : Amazon prime subscription <br>
                    Caller Tunes : GOT theme<br>
                </b>
              </p>
        </div>
        </div>
        <button type="button" class="btn btn-success"><a routerLink="/info">Back to User page</a></button>

    
  </div>